bundle-adjustment-type=sparse
camera-pose-sigma=1.00E-16
camera-position-sigma=1
cnet=noisy_control.cnet
euler-inlier-df=1
euler-inlier-noise-type=Normal
euler-inlier-sigma=1
euler-outlier-df=1
euler-outlier-freq=0.05
euler-outlier-noise-type=Normal
euler-outlier-sigma=1
lambda=1
max-iterations=10
min-tiepoints-per-image=20
number-of-cameras=3
pixel-inlier-df=1
pixel-inlier-noise-type=Normal
pixel-inlier-sigma=1
pixel-outlier-df=1
pixel-outlier-freq=0.05
pixel-outlier-noise-type=Normal
pixel-outlier-sigma=1
xyz-inlier-df=1
xyz-inlier-noise-type=Normal
xyz-inlier-sigma=1
xyz-outlier-df=1
xyz-outlier-freq=0.05
xyz-outlier-noise-type=Normal
xyz-outlier-sigma=1
data-dir=test0
use-ba-type-dirs=1
