#! /bin/sh

### Configure Options (Alternative to using command line syntax:  --enable-FEATURE=[val] )
#
# These options allow you modify the basic behavior of the build environment.

# ENABLE_DEBUG=no
# ENABLE_OPTIMIZE=yes

### Module Configuration
#
# Uncomment the following lines to explicitly enable (or disable) the
# default module building behavior of the build system.  These options
# override the default behavior (which is to build most modules).
# Note that the module may not be built if its software dependencies
# cannot be found.  Look at the output from ./configure to see whether
# the module will ultimately be built.

# ENABLE_MODULE_MATH=yes
# ENABLE_MODULE_MOSAIC=yes
# ENABLE_MODULE_CAMERA=yes
# ENABLE_MODULE_STEREO=yes
# ENABLE_MODULE_CARTOGRAPHY=yes
# ENABLE_MODULE_GPU=yes


### Package Base Paths 
#
# Set these to the directories that contain lib/include directories
# for packages in non-standard locations.  

# PKG_PATHS="/foo/bar"



