#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# automatically applies patches from the debian/patches directory
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# this variable controls what targets CDBS tries to build for its 'make
# install' step after running 'configure' and 'make'.  we use the
# 'install-with-doc' target to force building the documentation.
DEB_MAKE_INSTALL_TARGET = install-with-doc DESTDIR=$(DEB_DESTDIR)
