Source: visionworkbench
Section: libs
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Mike Lundy <mike.lundy@nasa.gov>
Build-Depends: debhelper (>= 7), cdbs, libtool, libboost-math1.40-dev, libboost-filesystem1.40-dev, libboost-program-options1.40-dev, libboost-graph1.40-dev, libboost-thread1.40-dev, libboost-iostreams1.40-dev, libz-dev, libpng-dev, libjpeg-dev, libtiff-dev, liblapack-dev, libgdal1-dev, libproj-dev, texlive-latex-extra, texlive-latex-recommended, doxygen, ghostscript
Standards-Version: 3.8.3
Homepage: http://ti.arc.nasa.gov/project/nasa-vision-workbench/
Vcs-Svn: http://babelfish.arc.nasa.gov/svn/visionworkbench/trunk

Package: visionworkbench-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev, visionworkbench-camera-dev, visionworkbench-interestpoint-dev, visionworkbench-mosaic-dev, visionworkbench-cartography-dev, visionworkbench-hdr-dev, visionworkbench-stereo-dev, visionworkbench-geometry-dev, visionworkbench-doc, visionworkbench-tools
Description: most modules - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.
 .
 This package installs the most commonly used modules of VW.  It leaves
 out support for OpenEXR, HDF, and plate files, among others.  To get
 those, compile VW yourself.

Package: visionworkbench-basic-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtool, libboost-math1.40-dev, libboost-filesystem1.40-dev, libboost-program-options1.40-dev, libboost-graph1.40-dev, libboost-thread1.40-dev, libz-dev, libpng-dev, libjpeg-dev, libtiff-dev, liblapack-dev
Description: basic modules - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.
 .
 This package installs the minimum set of VW modules you need to work
 with image files: Core, Math, Image, and FileIO.

Package: visionworkbench-camera-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev, libboost-iostreams1.40-dev
Description: camera module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-interestpoint-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: interest point module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-mosaic-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev
Description: mosaic module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-cartography-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev, libgdal1-dev, libproj-dev
Description: cartography module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-hdr-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev
Description: HDR module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-stereo-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-camera-dev
Description: stereo module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-geometry-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev
Description: geometry module - development version
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: documentation
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

Package: visionworkbench-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, visionworkbench-basic-dev, visionworkbench-camera-dev, visionworkbench-interestpoint-dev, visionworkbench-mosaic-dev, visionworkbench-cartography-dev, visionworkbench-hdr-dev, visionworkbench-stereo-dev, visionworkbench-geometry-dev
Description: command-line tools
 The NASA Vision Workbench (VW) is a general purpose image processing
 and computer vision library implemented in C++.

